*~
*#
doc/ltxpng
*.py[co]
read-shapes-LL/test-asymmetric

OriginalData
*.aux
*.dvi
*.blg
*.out
*.fdb_latexmk
*.fls
*.synctex.gz

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
*/.ropeproject/*
/papers/Papers1234/auto/
/papers/Papers1234/proplyd-bowshocks.log
/papers/Papers1234/proplyd-bowshocks.pdf
/papers/Papers1234/proplyd-bowshocks.bbl
/papers/Papers1234/proplyd-bowshocks.blg
.ipynb_checkpoints
*/ltxpng
/papers/Papers1234/quadrics-bowshock.log
/papers/Papers1234/quadrics-bowshock.pdf
/papers/Papers1234/quadrics-bowshock.bbl
/papers/Papers1234/quadrics-bowshock.blg
/papers/Papers1234/quadrics-bowshock.mx1
MESS_PPHOT
Stellar-Bowshocks-2017/irsa.ipac.caltech.edu/
/papers/Papers1234/dusty-bow-wave.pdf
/papers/Papers1234/dusty-bow-wave.blg
/papers/Papers1234/dusty-bow-wave.bbl
/papers/Papers1234/obs-bowshocks.log
/papers/Papers1234/obs-bowshocks.pdf
/papers/Papers1234/obs-bowshocks.bbl
/papers/Papers1234/obs-bowshocks.blg
*/auto/*
/papers/Papers1234/bowshocks-biblio.bib
*.synctex	
*.synctex(busy)
.DS_Store
/Stellar-Bowshocks-2017/Regression-with-linmix.ipynb
/Stellar-Bowshocks-2017/*.ipynb
/Stellar-Bowshocks-2017/OB/BSC-WISE/
/Stellar-Bowshocks-2017/OB/WISE/
